__pycache__/
scripts/functions/lurm*
scripts/functions/config.py
scripts/functions/test1.py
scripts/functions/test2.py
scripts/functions/test3.py
scripts/functions/mpr_pytensor_model.py

results/2025*
results/*
!results/benchmarking_CPU.png
!results/benchmarking_GPU.png
!results/FC_FCD_KS_KL_g_0.0.png
!results/FC_FCD_KS_KL_g_0.5.png
!results/FC_FCD_KS_KL_g_0.7.png
!results/model_simulation_and_features.png

scripts/notebooks/tutorial*
scripts/noteboooks/test.nc
scripts/smallSC_inferG*
de_model

# Overleaf paper (separate git remote, cloned locally)
paper/
