__pycache__/
slurm*
config.py
test1.py
test2.py
test3.py
mpr_pytensor_model.py

../../results/2025*
../../results/*
!../../results/benchmarking_CPU.png
!../../results/benchmarking_GPU.png
!../../results/FC_FCD_KS_KL_g_0.0.png
!../../results/FC_FCD_KS_KL_g_0.5.png
!../../results/FC_FCD_KS_KL_g_0.7.png
!../../results/model_simulation_and_features.png

../notebooks/tutorial*
../noteboooks/test.nc
../smallSC_inferG*

